<h1>Welcome, <%= current_user.username %></h1>
<a href="/tweets/new">Create a Fweet</a>
<a href="/logout">Logout</a>
<h2>Check out these Fweets</h2>
<%@tweets.each do |tweet|%>
  <p><a href="/users/<%=tweet.user.slug%>"><strong><%=tweet.user.username%></strong></a> <%=tweet.content%>
  <a href="/tweets/<%=tweet.id%>">See More</a>
  <p>
<%end%>
